*{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
}
.container{
    padding: 20px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav h1 span{
    color: lightskyblue;
    font-weight: 700;
}
nav h1{
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}
img{
    width: 140px;
}
nav ol li{
    margin: 10px 20px;
    list-style: none;
    display: inline;
}
nav ol li a{
    color: white;
    text-decoration: none;
    font-style: 18px;
    position: relative;
}
nav ol li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: lightskyblue;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .5s;
}
nav ol li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: lightskyblue;
}
.profile{
    border: 2px solid white;
    border-radius: 150px;
    position: relative;
}
.profile img{
    height: 260px;
    width: 260px;
    border-radius: 150px;
}
#about{
    padding: 20px 10%;
}
.tab{
    display: flex;
    margin: 20px 0 40px;
}
.tablinks{
    margin: 25px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tablinks::after{
    content: '';
    width: 0;
    height: 3px;
    background: lightskyblue;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .5s;
}
.tablinks.acl::after{
    width: 60%;
}
.tabcontents ol li{
    list-style: none;
    margin: 10px 0;
    margin-left: 0px;
}
.tabcontents ol li span{
    color: lightskyblue;
    font-size: 14px;
}
.tabcontents{
    display: none;
}
.tabcontents.act{
    display: block;
}
#services{
    padding: 30px 0px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 30px;
    font-size: medium;
    font-weight: 300px;
    border-radius: 10px;
}
.services-list div i{
    font-size: 35px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: lightskyblue;
    transform: translateY(-10px);
}
#portfolio{
    padding: 50px 0;
    box-shadow: white;
}
.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.5), aquamarine);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: lightskyblue;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.button{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid white;
    padding: 14px 50px;
    border-radius: 60px;
    text-decoration: none;
    color: white;
    transform: background 0.5s;
}
.button:hover{
    background: lightskyblue;
}
.contact-left{
    flex-basis: 40%;
}
.contact-left p{
    margin: 15px;
}
.contact-left p i{
    color: lightskyblue;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-flex;
}
.social-icons a:hover{
    color: lightskyblue;
}
/* css for making responsive */
nav .fas{
    display: none;
}
nav .fas{
    display: none;
}
@media only screen and(max-width: 600px){
    /* .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        
    } */
    nav .fas{
        display: block;
    }
    nav .fas{
        display: block;
    }
    nav ol{
        background: lightskyblue;
        position: fixed;
        top: 0;
        right: 200px;
        width: 200px;
        height: 650px;
        padding-top: 50px;
        z-index: 2;
    }
    nav ol li{
        display: block;
        margin: 25px;
    }
    nav ol .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
}